body {
    background-color: #2A2636;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #2A2636;
}

a:hover {
    color: #B13CF1;
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    display: inline-block;
    color: #2A2636;
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
 }
 
.navbar ul li a {
    text-decoration: none;
}
 
.navbar ul li:hover {
    color: #B13CF1;
    transition: 0.2s;
 }
 
 .navbar ul li:hover ul {
    display: block;
    background-color: #FFFFFF;
    padding: 0 20px 0 20px;
 }
 
 .navbar ul li ul {
    position: absolute;
    display: none;
 }
 
 .navbar ul li ul li {
    display: block;
    padding-left: 10px;
 }
 
 .navbar ul li ul li a {
    color: #2A2636;
    display: block;
    font-size: 20px;
 }
 
 .navbar ul li ul li:hover {
    padding-left: 10px;
 }

 .navbar .logo {
    width: 50px;
}

.navbar .icons {
    padding-right: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.search-box {
    margin: 20px;
    border: none;
    width: 1328px;
    height: 36px;
    background: url(/imagens/search-box.png) no-repeat;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.search-box::placeholder {
    padding-left: 40px;
}

.search-box:focus {
    background: none;
    margin: 20px;
    border: none;
    width: 1328px;
    height: 36px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.carousel {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carousel__images {
    display: flex;
    justify-content: center;
}

.carousel .image {
    object-fit: cover;
    display: none;
    animation: changeImage 1s;
}

@keyframes changeImage {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.carousel .image.active {
    display: block;
}

.carousel__btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -40px;
    z-index: 1;
}

.carousel__btns .btn {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff;
}

.carousel__btns .btn.selected {
    background-color: #B13CF1;
    width: 30px;
    border: none;
}

.main__btn {
    border-radius: 100px;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    background-color: #716279;
}

.main__btn.active {
    border-radius: 100px;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    background-color: #B13CF1;
}

.cards__overview {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.overview h2 {
    font-size: 28px;
}

.cards__list--head {
    display: flex;
    gap: 100px;
    color: #FFFFFF;
    align-items: center;
}

.card__list--preview {
    display: flex;
    gap: 20px;
    width: 300px;
    padding-top: 20px;
    color: #FFFFFF;
}

.card__list--preview a {
    text-decoration: none;
    color: #FFFFFF;
}

.category__btns {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery__header {
    margin-top: 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.gallery__cards--preview {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.ver-mais {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.footer__container {
    display: flex;
    background-color: #120917;
    justify-content: center;
    gap: 100px;
}

.footer__description {
    width: 300px;
    color: #FFFFFF;
}

.footer__description h3 {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
}

.footer__container .logo {
    margin-top: 40px;
}

.horizontal-line {
    margin: 30px;
    width: 2px;
    height: 295px;
    border: solid 0.2px #271332;
}

.footer__menu {
    margin-top: 40px;
}

.footer__menu ul{
    display: flex;
}

.footer__titles {
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 60px;
}

.footer__titles ul {
    display: flex;
    flex-direction: column;
}

.footer__text {
    margin: 15px 0 15px 0;
    font-size: 16px;
    line-height: 24px;
}

.footer__titles--list a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

/* Inicio pagina Perfil */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centraliza o conteúdo verticalmente */
    align-items: center;
    width: 100%;
    /* usa a largura total da tela */
    max-width: 1328px;
    /* define a largura máxima */
    height: 592px;
    margin: 0 auto;
    background-color: #373146;
    box-sizing: border-box;
    border-radius: 20px/20px;
    margin-top: 44px;
}

.banner img {
    width: 100%;
    height: 331px;
    object-fit: cover;
    border-radius: 5px;
}

.avatar {
    width: 100%;
    position: relative;
}

.avatar img {
    width: 159px;
    height: 159px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -75px;
    align-self: flex-start;
    margin-left: 44px;
}

.avatar-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 159px;
    height: 159px;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-start;
    margin-left: 44px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .avatar:hover .avatar-image-hover {
    opacity: 1;
  }

.container-info-stats-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1328px;
    /* define a largura máxima */
    width: 100%;
    /* usa a largura total da tela */
    height: 30%;

}

.info {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    margin-left: 44px;
    width: 50%;
    /* define a largura para a classe .info */
}

.info h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 0;
}

.info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 0;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

.info ul li i {
    margin-right: 5px;
}

.stats {
    display: flex;
    flex-basis: 40%;
    margin-top: 20px;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    margin-right: 44px;
}

.stats div {
    text-align: center;
}

.stats div p:first-of-type {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-container-info-stats-perfil {
    display: flex;
    justify-content: flex-end;
    /* alinha o conteúdo à direita */
    align-items: center;
    width: 100%;
    margin-right: 44px;
}

.button-edit-profile {
    background-color: #716A81;
    border: #FFFFFF;
    border: solid 1px;
    border-radius: 20px/20px;
    color: #FFFFFF;
    padding: 10px 20px;
    /* espaço interno do botão */
    text-align: center;
    /* alinhamento do texto */
    text-decoration: none;
    /* remove sublinhado do texto */
    display: inline-block;
    /* exibe como um elemento em linha */
    font-size: 16px;
    /* tamanho da fonte */
    margin: 10px;
    /* margem externa */
    width: 202px;
    height: 42px;
    cursor: pointer;
    /* cursor de mão ao passar o mouse */
    margin-top: -30px;
}

.button-edit-profile:hover {
    background-color: #B13CF1;
}

.collection {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  height: 100%;
}

.collection-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 28px;
    color: #FFFFFF;
}

.title-collection-menu {
    align-self: flex-start;
    margin-left: 292px
}

.vertical-collection-menu {
    align-self: flex-end;
    margin-right: 292px;
}

.container-collection-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    height: 100%;
    padding: 0;

    /*max-width: 1200px;*/
  }
  
  .card-collection {
    /*width: 440px;*/
    height: 100%;
    transition: all 300ms ease-in-out;
  }

  .card-collection:hover {
    transform: scale(1.05);

  }

  .img-collection-cards {
    display: flex;
    width: 100%;
  }

  .info-subtitle-collection-cards{
    display: flex;
    justify-content: space-between;
    width: 424px;
    height: 60px;
    background-color:  #EDECEF;
    text-decoration-color: #373146;
    font-size: 16px;
    border-radius: 0px 0px 20px 20px;
    align-items: center;
    padding: 20px 20px;
  }
/*
  #card-1{
    margin-top: -5px;
  }

  #card-2{
    margin-top: -5px;
  }

  #card-3{
    margin-top: -70px;
  }

  #card-4{
    margin-top: -70px;
  }

  #card-5{
    margin-top: -70px;
  }

  #card-6{
    margin-top: -70px;
  }

  #card-7{
    margin-top: -70px;
  }

  #card-8{
    margin-top: -70px;
  }

  #card-9{
    margin-top: -70px;
  }*/

  .button-view-more {
    background-color: #716A81;
    border: none;
    border-radius: 20px/20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 85px;
    height: 25px;
    cursor: pointer;
}

.button-view-more:hover {
    background-color: #B13CF1;
}
/* Final pagina Perfil */

/* Inicio pagina Artes */

.carrossel {
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .carrossel img {
    width: 1569px;
    height: 451px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  

.search-box:focus {
    background: none;
    margin: 20px;
    border: none;
    width: 1328px;
    height: 36px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

  .cards-container-nft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 503px;
  }
  
  
  .coluna {
    width: 48%;
  }
  
  .linha {
    width: 2px;
    height: 980px;
    background-color: #373146;
  }
  

  .card-nft{
    width: 637px;
    height: 112px;
    background-color: #463F59;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 12px;
}

.card-nft img {
    width: 80px;
    height: 80px;
    margin: 16px;
    float: left;
}

.card-nft .texto {
    margin-left: 116px;
    color: white;
    width: calc(100% - 116px);
}

.card-nft h2 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 16px;
    float: left;
}

.card-nft .valor-1 {
    float: bottom;
    clear: both;
}

.card-nft .valor-2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 32px;
    color: white;
    float: left;
}

.card-nft .valor-3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 16px;
    color: white;
    float: left;
}
    
.botao-ver-mais {
    width: 78px;
    height: 24px;
    background-color: #716279;
    color: white;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 16px;
    display: block;
    margin: 32px auto 32px;
  }

/* Final pagina Artes */

.container-cart {
    display: grid;
    grid-template-columns: 60% 2% 40%;
    justify-content: center;
    margin: 5%;
}

.cart-title {
    color: #FFFFFF;
}

/* Inicio card Itens adicionados */

.added-items {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background-color: #FDFDFD;
    border-radius: 20px/20px;
    padding: 20px;
    height: auto;
}

.added-items-title {
    font-weight: bold;
    font-weight: 700;
}

.card-added-items {
    background-color: #F4F4F4;
    border-radius: 20px/20px;
    display: flex;
    margin-bottom: 10px;
    transition: background-color 0.5s ease;
}

.card-added-items:hover {
    background-color: #ADA9B7;
}

.card-added-items img {
    width: 10%;
    height: auto;
    margin: 2%;
}

.text-first-line {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    margin-top: 1%;
}

.text-second-line {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    margin-top: 1%;
}

/* Final card Itens adicionados */

/* Inicio card Pagamento */
.payment {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-color: #FDFDFD;
    border-radius: 20px/20px;
    height: auto;
    padding: 2%;
}

.wallets {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.wallets-button {
    background-color: #F4F4F4;
    width: 25%;
    height: 30px;
    border-radius: 10px/10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    
}

.wallets-button:hover {
    background-color: #ADA9B7;
}

.dotted-line {
    border: none;
    border-top: 4px dotted #D3D3D3;
    height: 0;
    margin: 2em 0;
  }

.wallet-items-value{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wallet-title {
    font-weight: 700;
}

.wallet-total {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wallet-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wallet-button-end{
    width: 453px;
    height: 46px;
    background-color: #B13CF1;
    border: none;
    border-radius: 10px/10px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition: background-color 0.10s ease;
    cursor: pointer;
    margin-bottom: 2%;
}
.wallet-button-end:hover{
    background-color: #CB7CF6;
}

.wallet-button-end:active {
    background-color: #7E2BAB;
}

.wallet-button-continue {
    width: 453px;
    height: 46px;
    background-color: #F8F8F8;
    border: 2;
    border-color:#B13CF1 ;
    border-radius: 10px/10px;
    color: #B13CF1;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition: background-color 0.10s ease;
    cursor: pointer;
}

.wallet-button-continue:hover {
    background-color: #E7C3FB;
}

.wallet-button-continue:active {
    background-color: #CB7CF6;
    color: #F8F8F8 ;
}

/* Final card Pagamento */